@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Carter+One&family=Comfortaa:wght@400;500;600&family=Faster+One&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Monoton&family=Montserrat:ital,wght@0,400;0,600;1,300&family=Original+Surfer&family=Oxygen:wght@300;400;700&family=Permanent+Marker&family=Poiret+One&family=Racing+Sans+One&family=Rubik+Mono+One&family=Single+Day&family=Warnes&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');

/* =========== base style ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

section {
  background-image: url("https://media.istockphoto.com/photos/white-wooden-board-background-picture-id182061790?b=1&k=20&m=182061790&s=170667a&w=0&h=LqnlDBN32wTYaqh6jNq29hhOwn2HokJiZ6Ect2E-S5A=");
  background-size: cover;
}

section,
footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  /* color: #0a2b1e; */
  color: limegreen;
  font-weight: 600;
}

p {
  color: #596b65;
  /* color:#000; */
  font-size: 1.3rem;
  line-height: 35px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

button.btn {
  background-image:     linear-gradient(
      to right, 
      #E7484F,
      #F68B1D, 
      #FCED00,
      #009E4F,
      #00AAC3,
      #732982
    );
  animation:slidebg 2s linear infinite;
  color: #000;
  padding: 7px 25px;
  border-radius: 50px;
}

i {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
